# Compiled class file
*.class

# Metadata
*.metadata

# Generated
markHammil.mm/src-gen/
markHammil.mm/xtend-gen/
markHammil.mm.ide/src-gen/
markHammil.mm.ide/xtend-gen/
markHammil.mm.ui/src-gen/
markHammil.mm.ui/xtend-gen/
markHammil.mm.tests/src-gen/
markHammil.mm.tests/xtend-gen/
markHammil.mm.ui.tests/src-gen/
markHammil.mm.ui.tests/xtend-gen/

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
