# Compiled class file
*.class

# Metadata
*.metadata

# Generated
org.xtext.example.mydsl/src-gen/
org.xtext.example.mydsl/xtend-gen/
org.xtext.example.mydsl.ide/src-gen/
org.xtext.example.mydsl.ide/xtend-gen/
org.xtext.example.mydsl.ui/src-gen/
org.xtext.example.mydsl.ui/xtend-gen/
org.xtext.example.mydsl.tests/src-gen/
org.xtext.example.mydsl.tests/xtend-gen/
org.xtext.example.mydsl.ui.tests/src-gen/
org.xtext.example.mydsl.ui.tests/xtend-gen/

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
