<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated markdown -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="markdown.presentation.MarkdownModelWizardID"
            name="%_UI_MarkdownModelWizard_label"
            class="markdown.presentation.MarkdownModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/MarkdownModelFile.gif">
         <description>%_UI_MarkdownModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated markdown -->
      <editor
            id="markdown.presentation.MarkdownEditorID"
            name="%_UI_MarkdownEditor_label"
            icon="icons/full/obj16/MarkdownModelFile.gif"
            extensions="markdown"
            class="markdown.presentation.MarkdownEditor"
            contributorClass="markdown.presentation.MarkdownActionBarContributor">
      </editor>
   </extension>

</plugin>
