<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated robot -->
      <package
            uri="http://robot.com"
            class="robot.RobotPackage"
            genModel="metamodel/robot.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated robot -->
      <package
            uri="http://cflow"
            class="robot.cflow.CflowPackage"
            genModel="metamodel/robot.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated robot -->
      <package
            uri="http://cmd.com"
            class="robot.cmd.CmdPackage"
            genModel="metamodel/robot.genmodel"/>
   </extension>

</plugin>
